<%= yield content_for(:title, "- New Training Session") %>

<h6>New Training Session</h6>
<p class="small">
  Enter details to record a new training session.
</p>
<%= render partial: "training/sessions/form" %>
