<div class="card mt-2">
  <div class="card-header bg-dark text-light text-center pt-1 pb-1">
    Controllers Online
  </div>

  <div class="card-body small">
    <i>No information available</i>
  </div>
</div>
