<div class="card">
  <div class="card-header bg-dark text-light text-center pt-1 pb-1">
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>

  <div class="card-body small pt-1 pb-1">
    <%= current_user.rating %><br/>
    <i>No new messages</i>

    <br/>
    <br/>
    Hours this month: X.X<br/>
    Most popular position: X_CTR
  </div>
</div>
