<div class="card border-0 mt-2">
  <div class="card-header bg-dark text-light text-center pt-1 pb-1">
    Airport Conditions
  </div>

  <div class="card-body small pt-0 pb-0 pl-0 pr-0">
    <table class="table table-bordered mb-0 text-center">
      <tr class="bg-light pl-0 pr-0">
        <th class="bg-light pl-0 pr-0 pt-0 pb-0">
          <span class="font-weight-bold">ICAO</span>
        </th>
        <th class="bg-light pl-0 pr-0 pt-0 pb-0">
          <span class="font-weight-bold">Rules</span>
        </th>
        <th class="bg-light pl-0 pr-0 pt-0 pb-0">
          <span class="font-weight-bold">Wind</span>
        </th>
        <th class="bg-light pl-0 pr-0 pt-0 pb-0">
          <span class="font-weight-bold">Baro</span>
        </th>
      </tr>

      <tr class="pl-0 pr-0">
        <td colspan="4">
          <i>No information available</i>
        </td>
      </tr>
    </table>
  </div>
</div>
